{% extends "base_generic.html" %}

{% block content %}
  <h1>Admin Dashboard</h1>

  <p>Welcome to <b>Task Manager</b>, a Website developed by <i>Yash Agarwal !</i></p>
  <h2>Dynamic content</h2>
  <p>The Database has the following record counts:</p>
  <ul>
     <li><strong>Employees:</strong> {{ num_books }}</li> 
     {% comment %} <li><strong>Copies:</strong> {{ num_copies }}</li>
     <li><strong>Copies available:</strong> {{ num_copies_available }}</li>  {% endcomment %}
  </ul>
  <p>
    <li><strong>Number of times visited : </strong>{{num_visit}}</li></p>
{% endblock %}